body {
  font-family: "Shrikhand";
}

li {
  list-style: none;
}

.header {
  background-color: #000000;
  color: #fff;
  height: 100px;
}

.header-logo {
  float: left;
  font-size: 25px;
  padding: 20px 40px;
}

.header-list li {
  float: right;
  padding: 33px 20px;
}

.main {
  padding: 70px 50px;
  background-image: url(https://w7.pngwing.com/pngs/21/805/png-transparent-anime-mangaka-killua-zoldyck-anime-purple-black-hair-manga.png);
}

.copy-container h1 {
  font-size: 100px;
}

.copy-container h2 {
  font-size: 60px;
}

.copy-container h3 {
  font-size: 45px;
}

.copy-container span {
  color: #f0e68c;
}

.contents {
  height: 400px;
  margin-top: 100px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 30px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.contents-item {
  float: left;
  margin-right: 40px;
}

.contents-item img {
  height: 300px;
  width: 300px;
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}

.contact-form {
  padding-top: 100px;
}

.contact-form h3 {
  font-size: 40px;
}

.contact-form a {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 20px;
}


.footer {
  background-color: #000000;
  color: #fff;
  height: 200px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
  font-size: 20px;
}
